################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Percyqaz.Shell/.vs/Percyqaz.Shell
/Percyqaz.Shell/Percyqaz.Shell/bin/
/Percyqaz.Shell/Percyqaz.Shell/obj
/Percyqaz.Shell/Percyqaz.Shell.Demo/bin/
/Percyqaz.Shell/Percyqaz.Shell.Demo/obj
/Percyqaz.Shell/Percyqaz.Shell/nuget.config
